/* Default for laptop/desktop view */
#google_translate_element {
    font-size: 12px;
  }
  
  .goog-te-gadget {
    font-size: 12px !important; /* Adjust the size for desktop */
  }
  
  .goog-te-combo {
    font-size: 12px !important;
    
  }
  
  /* Mobile view */
  @media (max-width: 768px) {
    #google_translate_element {
      font-size: 0px; /* Adjust size for smaller screens */
      
    }
  
    .goog-te-gadget {
      font-size: 0px !important;
    }
  
    .goog-te-combo {
      font-size: 12px !important;
      padding: 0px;
      width: 120px !important;
    }
  }
  